- name: Create EC2 instances
  ec2:
    key_name: "{{lagoon_keypair_name}}"
    instance_type: "{{lagoon_configuration_params.params.instance_type}}"
    image: "{{ lagoon_configuration_params.params.ami_id }}"
    region: "{{ lagoon_configuration_params.params.region }}"
    wait: true
    exact_count: {{lagoon_configuration_params.instances}}
    count_tag:
      Name: {{lagoon_configuration_params.client.name}}
    instance_tags:
      Name: {{lagoon_configuration_params.client.name}}
{% if lagoon_configuration_params.params.assign_public_ip is defined %}    assign_public_ip : {{lagoon_configuration_params.params.assign_public_ip }}
{% endif %}
{% if lagoon_configuration_params.params.placement_group is defined %}    placement_group: {{lagoon_configuration_params.params.placement_group.name}}
{% endif %}
{% if lagoon_configuration_params.params.security_groups is defined %}    group: {{lagoon_ec2_group|replace('\n','')}}
{% endif %}
{% if lagoon_configuration_params.volumes is defined %}    volumes: 
{% for v in lagoon_configuration_params.volumes %}
    - {{v.params | to_nice_yaml | indent(6,false)}}{% endfor %}
{% endif %}
  register: ec2
