[{{ekara_configuration_params.environment.nodeset}}]

[{{ekara_configuration_params.environment.nodeset}}:children]
tag_ek_stack_nodeset_{{ekara_configuration_params.environment.nodeset | replace('-','_')}}
