# Declaring Swarm groups
[managers]
[workers]

[managers:children]
tag_ek_swarm_type_{{ekara_plf | replace('-','_')}}_manager

[workers:children]
{% if ekara_workers.instances | length > 0 %}
tag_ek_swarm_type_{{ekara_plf | replace('-','_')}}_worker
{% endif %}

[nodes:children]
managers
workers
